.search-input {
    background-color: #0e0e18;
    border-radius: 8px;
    border: 1px solid rgba(201, 201, 201, 0.8);
    color: rgb(241, 241, 241);
    text-align: center;
}

th {
    color: rgb(1, 122, 236);
}

td {
    width: 100px;
}

img {
    height: 50px;
}

tbody {
    color: rgba(102, 102, 102, 0.5);
}